@CHARSET "UTF-8";

.sbcd_as li { list-style: none; }
.sbcd_as li span { color:#666; font-size:0.8em; }

.sbcd_as .sit_version { display: none; }
.sbcd_as>ul { margin-left: 0; }
.sbcd_as ul:first-child ul { display: none; }

.sbcd_as .nom {
    background: transparent url("img/base.png") no-repeat scroll left center;
    font-weight: bold;
    padding-left: 20px;
}

.sbcd_as .slidable {
	cursor: hand;
	cursor: pointer;
	background: transparent url(img/right.png) left center no-repeat;
	padding-left: 20px;
}
.sbcd_as .slided { background: transparent url(img/down.png) left center no-repeat; }
.sbcd_as .sit_version {
	display: block;
	float: left;
	font-size: 0;
	color: #fff;
	height: 18px;
	width: 31px;
	margin-right: 5px;
}
.sbcd_as .CRDTA, .sbcd_as .CDT15, .sbcd_as .CRDT, .sbcd_as .SITRA, .sbcd_as .AUVERGNE
{ background: transparent url(img/autre.gif) 0 bottom no-repeat; }
.sbcd_as .Cantal { background: transparent url(img/cantal.gif) 0 bottom no-repeat; }
.sbcd_as .Tourinfrance{ background: transparent url(img/tif.gif) 0 bottom no-repeat; }
.sbcd_as .tifAbs { text-decoration: line-through; }

.sbcd_as .erreur {
	color: red;
	font-weight: bold;
}
.sbcd_dwld {
	font-weight: bold;
}
.sbcd_button {
	font-weight: normal;
	background: #293037 none repeat scroll 0 0;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	line-height: 1;
	padding: 4px 10px;
}